div.aufschnitt1 {
    margin-left: 10px;
    background-color: coral;
}
p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}
.singer {
    background-color: brown;
}
div.aufschnitt2 {
    max-width: 150px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: lightblue;
    float: left;
}
.homer {
    color: yellow;
}
div.aufschnitt3 {
    text-decoration: underline;
    float: left;
    max-width: 450px;
}
div.aufschnitt4 {
    width: 200px;

    background-color: lightblue;
    float: left;
}
.clearfix {
    clear: both;
}

.footer {
    max-width: 800px;
    margin-left: 10px;
    background-color: coral;
}
