div.aufschnitt1 {
    background-color: coral;
}
.singer {
    background-color: brown;
}
div.aufschnitt2 {
    margin: 10px;
    background-color: lightblue;
    float: left;
}
.homer {
    color: yellow;
}
div.aufschnitt3 {
    text-decoration: underline;
}

